{% extends 'layoutAdmin.html.twig' %}

{% block stylesheet %}

      <link rel="stylesheet" type="text/css" href=" {{ asset('frontOffice/shop/css/bootstrap.min.css') }} ">{% endblock %}
 

{% block contentHeader %}
           <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('back_end') }}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('back_end') }}">Store Management</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('cart_list') }}">Products in Cart</a></li>
          </ul>
        </div>
      </div>
{% endblock %}

{%  block content %}

    {% if productCarts %}
        <table id="order" class="table table-striped">
            <thead>
                <tr>
                    <th>IdCart</th>
                    <th>IdOrder</th>
                    <th>IdProduct </th>
                    <th>Quantity </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for productCart in productCarts %}
                <tr>
                    <td> {{ productCart.id }}</td>
                    <td> {{ productCart.idOrder.id  }}</td>
                    <td> {{ productCart.idProduct.id }}</td>
                    <td> {{ productCart.quantity }}</td>
                    <td>
                        <a href="{{ path('updateProduct', {'id': productCart.id}) }}" class="btn btn-light">Edit</a>
                        <a href="{{ path('remove_product_cart', {'id': productCart.id}) }}" class="btn btn-danger btn-sm" > Delete </a>

                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No Carts</p>
    {% endif %}
{% endblock %}
