

<h2>Liste des formations:</h2>
{% block content %}
<h1>Listes des formations</h1>
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Formations</th>
                                            <th>Catégorie</th>
                                            <th>Date debut</th>
                                            <th>Date fin</th>
                                            <th>Telephone</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for c in list %}
                                            <tr>
                                                <td>{{ c.formateur }}</td>
                                                <td>{{ c.category.titre }}</td>
                                                <td>{{ c.date_debut|date('d-m-Y') }}</td>
                                                <td>{{ c.date_fin|date('d-m-Y') }}</td>
                                                <td>{{ c.tel }}</td>



                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>

                                                    {% endblock %}


