{% extends 'layoutAdmin.html.twig' %}

{% block contentHeader %}
           <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('back_end') }}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('back_end') }}">Store Management</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('product_list') }}">Products</a></li>
          </ul>
        </div>
      </div>
      
{% endblock %}
    {% block SS %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <link rel="stylesheet" href="/css/bootstrap.min.css"  media="screen" />
    {% endblock %}
{%  block content %}
    
    <a href="{{ path('new_product') }}" class="btn btn-primary nav-link">New Product</a>
    <input type="text" id="search" class="form-control" placeholder="Search..."> 
    {% if products %}
        <table id="t" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description </th>
                    <th>Réference </th>
                    <th>Quantité </th>
                    <th>Prix </th>
                    <th>Thumbnail </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="all">
                {% for product in products %}
                <tr>
                    <td> {{ product.id }}</td>
                    <td> {{ product.name }}</td>
                    <td> {{ product.description }}</td>
                    <td> {{ product.ref }}</td>
                    <td> {{ product.quantity }}</td>
                    <td> {{ product.price }} DT</td>
                    <td> {{ product.image }}</td>
                    <td>
                        <a href="{{ path('updateProduct', {'id': product.id}) }}" class="btn btn-light">Edit</a>
                        <a class="confirmModalLink" href="{{ path('deleteProduct', {'id': product.id}) }}" class="btn btn-danger btn-sm" > Delete </a>

                    </td>


                </tr>
                {% endfor %}
            </tbody>
            <tbody id="search">
            </tbody>
        </table>

<div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                Etes-vous sûr de vouloir supprimer cet élément ?
            </div>
            <div class="modal-footer">
                <a href="{{ path('product_list') }}" class="btn" id="confirmModalNo">Non</a>
                <a href="#" class="btn btn-primary" id="confirmModalYes">Oui</a>
            </div>
        </div>
    </div>
</div>

    {% else %}
        <p>No Products</p>
    {% endif %}
{% endblock %}
{% block jsProducts %}
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> 
</script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<script>
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    $(document).ready(function(){

        $("#search").keyup(function(e){
            /* value va prendre la valeur inserer dans le champs*/
            var value= $(this).val();
            /* Ajax est lance lors du remplissage id=search pour faire la recherche*/
            $.ajax({
            /*l'url un string contenant l'@ où la req est envoyée */
                url : "{{ path('seachProduct') }}",
            /* method utilisée pour tranferé les données get*/
                type : 'GET',
            /*searchValue contient la chaine entrée par le user*/
                data : {
                        'searchValue' : value
                },
            /*la fct vide le contenu de l'ancien pour recevoir le nouveau*/
                success : function(retour){
                    if(retour){
                        $('#t tbody#search').empty();
                        $.each(JSON.parse(retour), function(i, obj){
                            $('#t tbody#all').hide();
                            $('#t tbody#search').append('<tr> <td> '+obj.id+' </td><td> '+obj.name+'</td><td> '+obj.description
                            +'</td><td> '+obj.ref+'</td><td> '+obj.quantity+'</td><td> '+obj.price+'</td><td> '+obj.image
                            +'</td><td> <a href="product/updateProduct/'+obj.id
                            +'" class="btn btn-light"> Edit </a> </td><td> <a class="confirmModalLink" href="deleteProduct/'+obj.id+'" > Delete </a> </td> <tr>');
                            
                        }); 
                    }else{
                        $('#t tbody#all').show();
                        $('#t tbody#search').empty();
                        $('#t tbody#search').fadeIn('fast');
                    }
                },
            });
            return false;
        });
    });

$(document).ready(function () {
    var theHREF;

    $(".confirmModalLink").click(function(e) {
        e.preventDefault();
        theHREF = $(this).attr("href");
        $("#confirmModal").modal("show");
    });

    $("#confirmModalNo").click(function(e) {
        $("#confirmModal").modal("hide");
    });

    $("#confirmModalYes").click(function(e) {
        window.location.href = theHREF;
    });
});
</script>
{% endblock %}
