{% extends 'baseback.html.twig' %}

{% block stylesheet %}

      <link rel="stylesheet" type="text/css" href=" {{ asset('frontOffice/shop/css/bootstrap.min.css') }} ">{% endblock %}
 

{% block contentHeader %}
           <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('back_end') }}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('back_end') }}">Store Management</a></li>
            <li class="breadcrumb-item active"><a href="{{ path('order_list') }}">Orders</a></li>
          </ul>
        </div>
      </div>
{% endblock %}

{%  block content %}

    {% if orders %}
        <table id="order" class="table table-striped">
            <thead>
                <tr>
                    <th>IdOder</th>
                    <th>IdUser</th>
                    <th>TotalPayment </th>
                    <th>State </th>
                    <th>Date </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td> {{ order.id }}</td>
                    <td> {{ order.idUser  }}</td>
                    <td> {{ order.totalPayment }}</td>
                    <td> {{ order.state ? 'Yes' : 'No' }}</td>
                    <td> {{ order.date }}</td>
                    <td>
                        <a href="{{ path('edit_order', {'id': order.id}) }}" class="btn btn-light">Edit</a>
                        <a href="{{ path('delete_order', {'id': order.id}) }}" class="btn btn-danger btn-sm" > Delete </a>

                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Empty</p>
    {% endif %}
{% endblock %}
