{% extends 'base.html.twig' %}
{% block content %}
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- contact area -->
    <div class="content-block">
      <!-- Browse Jobs -->
      <div class="section-full bg-white p-t50 p-b20">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-4 m-b30">
              <div class="sticky-top">
                <div class="candidate-info">
                  <div class="candidate-detail text-center">
                    <div class="canditate-des">
                      <a href="javascript:void(0);">
                        <img alt=""
                          src="{{
                          asset(
                            'frontOffice/'
                          )
                          }}images/team/pic1.jpg" />
                      </a>
                      <div class="upload-link"
                        title="update"
                        data-toggle="tooltip"
                        data-placement="right">
                        <input type="file" class="update-flie" />
                        <i class="fa fa-camera"></i>
                      </div>
                    </div>
                    <div class="candidate-title">
                      <div class="">
                        <h4 class="m-b5">
                          <a href="javascript:void(0);">David Matin</a>
                        </h4>
                        <p class="m-b0">
                          <a href="javascript:void(0);">Web developer</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <ul>
                    <li>
                      <a href="jobs-profile.html">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <span>Profile</span>
                      </a>
                    </li>
                    <li>
                      <a href="jobs-my-resume.html">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span>My Resume</span>
                      </a>
                    </li>
                    <li>
                      <a href="jobs-saved-jobs.html" class="active">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <span>Applied Jobs</span>
                      </a>
                    </li>
                    <li>
                      <a href="jobs-applied-job.html">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        <span>Applied Jobs</span>
                      </a>
                    </li>
                    <li>
                      <a href="jobs-alerts.html">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span>Job Alerts</span>
                      </a>
                    </li>
                    <li>
                      <a href="jobs-cv-manager.html">
                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                        <span>CV Manager</span>
                      </a>
                    </li>
                    <li>
                      <a href="jobs-change-password.html">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <span>Change Password</span>
                      </a>
                    </li>
                    <li>
                      <a href="index.html">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span>Log Out</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-8 m-b30">
              <div class="job-bx save-job table-job-bx clearfix">
                <div class="job-bx-title clearfix">
                  <h5 class="font-weight-700 pull-left text-uppercase">
                    {{ nb }} Saved Jobs
                  </h5>
                  <div class="float-right">
                    <span class="select-title">Sort by freshness</span>
                    <select>
                      <option>
                        Last 2 Months
                      </option>
                      <option>
                        Last Months
                      </option>
                      <option>
                        Last Weeks
                      </option>
                      <option>
                        Last 3 Days
                      </option>
                    </select>
                  </div>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th>
                        Premium jobs
                      </th>
                      <th>
                        Company
                      </th>
                      <th>
                        Date
                      </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for c in list %}
                      <tr>
                        <td class="job-post-company">
                          <a href="javascript:void(0);">
                            <span>
                              <img alt=""
                                src="{{
                                asset(
                                  'frontOffice/'
                                )
                                }}images/logo/icon2.png" />
                            </span>
                          </a>
                        </td>
                        <td class="job-name">
                          <a href="job-detail.html">{{ c.titre }}</a>
                        </td>
                        <td class="criterias text-primary">
                          <a href="company-profile.html">@company-name</a>
                        </td>
                        <td class="date">
                          {{ date(c.getDateExpiration())|date('d-m-Y') }}
                        </td>
                        <td class="job-links">
                          <a href="javascript:void(0);"
                            data-toggle="modal"
                            data-target="#exampleModalLong">
                            <i class="fa fa-eye"></i>
                          </a>
                          <a href="{{
                            path(
                              'delapp',
                              {
                                id: c.id
                              }
                            )
                            }}">
                            <i class="ti-trash"></i>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="pagination-bx float-right">
                  {{ knp_pagination_render(list) }}
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade modal-bx-info"
                id="exampleModalLong"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLongTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="logo-img">
                        <img alt=""
                          src="{{
                          asset(
                            'frontOffice/'
                          )
                          }}images/logo/icon2.png" />
                      </div>
                      <h5 class="modal-title">
                        Company Name
                      </h5>
                      <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ul>
                        <li>
                          <strong>Job Title :</strong><p>
                            Web Developer – PHP, HTML, CSS
                          </p>
                        </li>
                        <li>
                          <strong>Experience :</strong><p>
                            5 Year 3 Months
                          </p>
                        </li>
                        <li>
                          <strong>Deseription :</strong>
                          <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry has been the industry's
                            standard dummy text ever since.
                          </p>
                        </li>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal End -->
            </div>
          </div>
        </div>
      </div>
      <!-- Browse Jobs END -->
    </div>
  </div>
  <!-- Content END -->
{% endblock %}
