{% extends 'base.html.twig' %}

{% block title %}
  Statistiques
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
    integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
    crossorigin="anonymous" />
{% endblock %}

{% block content %}
  <!-- Content -->
  <div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dez-bnr-inr overlay-black-middle"
      style="background-image:url(images/banner/bnr1.jpg);">
      <div class="container">
        <div class="dez-bnr-inr-entry">
          <h1 class="text-white">
            Job Detail
          </h1>
          <!-- Breadcrumb row -->
          <div class="breadcrumb-row">
            <ul class="list-inline">
              <li><a href="#">Home</a></li>
              <li>Job Detail</li>
            </ul>
          </div>
          <!-- Breadcrumb row END -->
        </div>
      </div>
    </div>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
      <div class="container">
        <h1>
          Statistiques
        </h1>
        <canvas id="categories"></canvas>

        <canvas id="annonces"></canvas>
      </div>
    </div>
  </div>
  <!-- Content END -->
{% endblock %}
{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
    integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
    crossorigin="anonymous"></script>
  <script>
    let categories = document.querySelector("#categories") 
    let categGraph = new Chart(categories, {
         type: "pie",
            data: {
                labels: {{ categNom|raw }},
            datasets: [{
                label:"repartition des Offres d'emploi",
                data: {{ categCount|raw }},
                backgroundColor: {{ categColor|raw }}
            }]
        }
    })

    let annonces = document.querySelector("#annonces")
    let annGraph = new Chart(annonces, {
        type: "line",
        data: {
            labels: {{ dates|raw }},
            datasets: [{
                label:"repartition des Offres d'emploi",
                data:{{ annoncesCount|raw }}
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }})
  </script>
{% endblock %}
