<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      PDF
    </title>
  </head>
  <body>
    <div class="page-content bg-white">
      <div class="content-block">
        <!-- Browse Jobs -->
        <div class="section-full browse-job p-b50">
          <div class="container">
            <div class="row">
              <div class="col-xl-9 col-lg-8 col-md-7">
                <ul class="post-job-bx">
                  {% for c in list %}
                    {% if date(c.getDateExpiration()) > date() %}
                      <li>
                        <div class="post-bx">
                          <div class="d-flex m-b30">
                            <div class="job-post-info">
                              <h4>
                                <a href="job-detail.html">
                                  Titre : {{ c.titre }}
                                </a>
                              </h4>
                              <ul>
                                <li>
                                  <i class="fa fa-map-marker"></i>
                                  Localisation : {{ c.location }}
                                </li>
                                <li>
                                  <i class="fa fa-bookmark-o"></i>
                                  Description : {{ c.description }}
                                </li>
                                <li>
                                  {% set dateTime = date(c.getDatedebut()) %}
                                  {% set mounth =
                                    dateTime|date('F')|number_format
                                  %}
                                  {% set year =
                                    dateTime|date('y')|number_format
                                  %}
                                  {% set Nmounth =
                                    date()|date('F')|number_format
                                  %}
                                  {% set Nyear =
                                    date()|date('y')|number_format
                                  %}
                                  <i class="fa fa-clock-o"></i> Published {{ (Nyear
                                    - year)
                                    * 12
                                    + Nmounth
                                    - mounth }} mounths ago
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="job-time mr-auto">
                              <a href="javascript:void(0);">
                                <span>Poste demandé : {{ c.poste }}</span>
                              </a>
                            </div>
                            <div class="salary-bx">
                              <span>
                                Salaire Maximum $ {{ c.maxSalary }} - Salaire Minimum $ {{c.minSalary}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
